
/* 演示样式 */
.lib-content h2 {
    font-size    : 28px;
    color        : #1f2f3d;
    margin-bottom: 12px;
}

.lib-content .demo {
    border       : 1px solid #ebebeb;
    border-radius: 3px;
    padding      : 24px;
    margin-bottom: 24px;
}

.lib-content .block {
    margin-bottom: 20px;
}

.lib-content p {
    font-size  : 14px;
    color      : #5e6d82;
    line-height: 1.5em;
    margin     : 1em 0;
}