/* Button 按钮 */

.el-button--default.is-disabled,
.el-button--default.is-disabled:hover {
  color: #888888;
  background-color: #ECF1F4;
  border-color: #ECF1F4;
}

/* Message 提示框 */

.el-message-box__header{
  background: #f7f9fb;
  border-bottom: 1px solid #ebedf4;
}
.el-message-box__title{
  font-size: 16px;
  line-height: 22px;
  height: 22px;
}
.el-message-box__title>span:empty::before {
  content: "消息提示"
}
.el-message-box__content{
  text-align: center;
  padding: 45px 10px 0;
}
.el-message-box__message{
  padding: 10px!important;
  font-size: 16px;
}
.el-message-box__status{
  position: static;
  top: auto;
  transform: none;
  font-size: 64px!important;
}
.el-message-box__btns{
  text-align: center;
  padding: 30px 0;
}

/*Dialog 对话框*/
.el-dialog{
  border-radius: 6px;
  overflow: hidden;
}
.el-dialog__header {
  background: #f7f9fb;
  border-bottom: 1px solid #ebedf4;
}
.el-dialog__footer{
  text-align: center;
}

/* Drawer flex fix */

.el-drawer__body {
  overflow: hidden;
}

/* Table */
.el-table__empty-text {
  width: 100%;
}

.el-table .cell,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding-left: 20px;
}

.el-table th>.cell {
  padding-left: 20px;
}


/*form 表单校验*/
.el-form-item .el-input__validateIcon {
  color: #70C315;
}