.userEditDialog[data-v-775fb045] .upload_avatar{display:block;width:120px;height:120px;line-height:120px;background:#dedede;text-align:center}.userEditDialog[data-v-775fb045] .upload_avatar img{width:100%;height:100%;object-fit:cover}
