.upload_avatar[data-v-4321f45c]{display:block;width:200px;height:200px;margin:0 auto 20px;line-height:200px;background:#dedede;text-align:center;cursor:pointer}.upload_avatar img[data-v-4321f45c]{width:100%;height:100%;object-fit:cover}
