/* 滚动条美化 */
::-webkit-scrollbar {
    width : 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    width                : 6px;
    background           : rgba(16, 31, 28, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius   : 2em;
    border-radius        : 2em;
}

::-webkit-scrollbar-thumb {
    background-color     : rgba(16, 31, 28, 0.5);
    background-clip      : padding-box;
    min-height           : 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius   : 2em;
    border-radius        : 2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(16, 31, 28, 1);
}

/* icon font */

@font-face {
    font-family: "iconfont";
    src        : url('font/iconfont.woff2') format('woff2'),
        url('font/iconfont.woff') format('woff'),
        url('font/iconfont.ttf?t=1542333212698') format('truetype');
}

.iconfont {
    font-family            : "iconfont" !important;
    font-size              : 1.2em;
    font-style             : normal;
    font-weight            : 400;
    font-variant           : normal;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* flex栅格 */

.flex-col {
    overflow          : hidden;
    display           : -ms-box;
    display           : -ms-flexbox;
    display           : flex;
    flex-direction    : column;
    -ms-flex-direction: column;
}

.flex-row {
    overflow: hidden;
    display : -ms-box;
    display : -ms-flexbox;
    display : flex;
}

.flex-1 {
    -ms-flex : 1;
    flex     : 1;
    min-width: 0;
}

.flex-2 {
    -ms-flex : 2;
    flex     : 2;
    min-width: 0;
}

.flex-3 {
    -ms-flex : 3;
    flex     : 3;
    min-width: 0;
}

.flex-4 {
    -ms-flex : 4;
    flex     : 4;
    min-width: 0;
}

.align-stretch {
    -ms-align-items: stretch;
    -ms-flex-align : stretch;
    align-items    : stretch;
}

.align-center {
    -ms-align-items: center;
    -ms-flex-align : center;
    align-items    : center;
}

.justify-center {
    -ms-box-pack   : center;
    -ms-flex-pack  : center;
    justify-content: center;
}


/* 固定宽高比矩形 */

*[class*="rect-"] {
    position: relative;
    display : block;
    width   : 100%;
    height  : 0;
    overflow: hidden;
}

*[class*="rect-"] ._full {
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 100%;
}

.rect-4854 {
    padding-bottom: 48.54%;
}

.rect-50 {
    padding-bottom: 50%;
}

.rect-5625 {
    padding-bottom: 56.25%;
}

.rect-60 {
    padding-bottom: 60%;
}

.rect-618 {
    padding-bottom: 61.8%;
}

.rect-70 {
    padding-bottom: 70%;
}

.rect-75 {
    padding-bottom: 75%;
}

.rect-80 {
    padding-bottom: 80%;
}

.rect-90 {
    padding-bottom: 90%;
}

.rect-100 {
    padding-bottom: 100%;
}

/* 纵向滚动区域 */
.scrollbar {
    overflow-x: hidden;
    overflow-y: auto;
}


/* 单行文字 */

.el {
    overflow     : hidden;
    white-space  : nowrap;
    text-overflow: ellipsis;
}