/* Button 按钮 */

.el-button--default.is-disabled,
.el-button--default.is-disabled:hover {
  color           : #888888;
  background-color: #ECF1F4;
  border-color    : #ECF1F4;
}

/* Message 提示框 */

.el-message-box__header {
  background   : #f7f9fb;
  border-bottom: 1px solid #ebedf4;
}

.el-message-box__title {
  font-size     : 16px;
  line-height   : 30px;
  height        : 30px;
  display       : flex;
  flex-direction: row;
  align-items   : center;
}

.el-message-box__title::before {
  content      : '';
  width        : 30px;
  height       : 30px;
  background   : url(./img/message_pop_ico.png) no-repeat center;
  margin-right : 10px;
  border-radius: 8px;
}

.el-message-box__title>span:empty::before {
  content: "消息提示"
}

.el-message-box__headerbtn {
  top: 22px;
}

.el-message-box__content {
  text-align: center;
  padding   : 45px 50px 0;
}

.el-message-box__message {
  padding  : 10px !important;
  font-size: 16px;
}

.el-message-box__status {
  position : static;
  top      : auto;
  transform: none;
  font-size: 64px !important;
}

.el-message-box__btns {
  text-align: center;
  padding   : 30px 0;
}

/*Dialog 对话框*/
.el-dialog {
  border-radius: 6px;
  overflow     : hidden;
}

.el-dialog__header {
  background   : #f7f9fb;
  border-bottom: 1px solid #ebedf4;
}

.el-dialog__body{
  padding: 20px;
}

.el-dialog__footer {
  text-align: center;
}

/* Drawer flex fix */

.el-drawer__body {
  overflow: hidden;
}

/* Table */
.el-table__empty-text {
  width: 100%;
}

.el-table th>.cell {
  padding-left: 20px;
}


/*form 表单校验*/
.el-form-item .el-input__validateIcon {
  color: #70C315;
}

/*pagenation 分页*/
.el-pagination {
  font-weight: normal;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background : none;
  border     : 1px solid #D9D9D9;
  box-sizing : border-box;
  color      : #5A5A5A;
  height     : 32px;
  line-height: 32px;
  min-width  : 32px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  border: none;
}

/*dataPicker 日期选择器*/
.el-date-table td span {
  border-radius: 4px;
}

.el-date-table td.start-date div {
  border-radius: 0;
}

.el-date-table td.end-date div {
  border-radius: 0;
}

/*select 选择器*/
.el-select-dropdown {
  border-radius: 4px;
  margin       : 0 !important;
}

.el-popper .popper__arrow {
  display: none;
}

/*cascader 级联选择器*/
.el-cascader__dropdown {
  border-radius: 4px;
  margin       : 0 !important;
}

/*tag 标签*/
.el-tag {
  height     : 28px;
  line-height: 26px;
}

/*Breadcrumb 面包屑*/
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  font-weight: normal;
  color      : #888888;
}

.el-breadcrumb__inner {
  color: #888888;
}

.el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #000000;
}

/*form-input*/
.el-input__inner {
  border-radius: 4px;
}